
node_modules/
**/node_modules/

**/dist/

nimbus-cdk/cdk.out/
nimbus-cdk/outputs.json

nimbus-cli/finished_dir/model-best
nimbus-cli/nimbus-config.json

.DS_Store
**/.DS_Store
.vscode/
.idea/

**/coverage