# Node modules
node_modules/
**/node_modules/

# Build outputs
**/dist/

# CDK output directory
nimbus-cdk/cdk.out/
nimbus-cdk/outputs.json

# CLI specific files
nimbus-cli/finished_dir/model-best
nimbus-cli/nimbus-config.json

# IDE and OS specific files
.DS_Store
**/.DS_Store
.vscode/
.idea/