# Node modules
node_modules/
**/node_modules/

# Build outputs
**/dist/

# CDK output directory
packages/nimbus-cdk/cdk.out/
packages/nimbus-cdk/outputs.json

# CLI specific files
packages/nimbus-cli/nimbus-config.json

# IDE and OS specific files
.DS_Store
**/.DS_Store
.vscode/
.idea/

# Environment variables
**/.env
